[Unit] 
Description=RPC Service for making API Calls to Get New Data
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=$USER
ExecStart=/usr/bin/env php /home/$USER/live/rpc_api_consumer.php

[Install]