[Unit] 
Description=RPC Service for making API Calls to Get New Data On API Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=$USER
ExecStart=/usr/bin/env php /home/$USER/live/rpc_apigetdata_consumer.php

[Install]
WantedBy=multi-user.target