[Unit] 
Description=RPC Service for Friends system
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=$USER
ExecStart=/usr/bin/env php /home/'$user'/live/rpc_friend_consumer.php

[Install]
WantedBy=multi-user.target