[Unit] 
Description=RPC Service for registering new users to the application
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=$USER
ExecStart=/usr/bin/env php /home/'$user'/live/rpc_register_consumer.php

[Install]
WantedBy=multi-user.target
