[Unit] 
Description=Service to reboot the registation and login consumers on the DB
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=saj39
ExecStart=/usr/bin/env php /home/saj39/IT490-Sample/rpc_register_consumer.php
ExecStartPost=/usr/bin/env php /home/saj39/IT490-Sample/rpc_login_consumer.php

[Install]
WantedBy=multi-user.target